<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1484</integer>
    <key>capHeight</key>
    <integer>1386</integer>
    <key>copyright</key>
    <string>Copyright 2012-2015 The Fira Code Project Authors (https://github.com/tonsky/FiraCode)</string>
    <key>descender</key>
    <integer>-442</integer>
    <key>familyName</key>
    <string>Fira Code</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/09/30 15:05:11</string>
    <key>openTypeHheaAscender</key>
    <integer>1980</integer>
    <key>openTypeHheaDescender</key>
    <integer>-644</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Carrois Corporate, Edenspiekermann AG, Nikita Prokopov</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://tonsky.me</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Carrois Corporate, Edenspiekermann AG, Nikita Prokopov</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://tonsky.me</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>8</integer>
      <integer>9</integer>
      <integer>5</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1980</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-644</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>CTDB</string>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2164</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1000</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-40</integer>
      <integer>0</integer>
      <integer>1062</integer>
      <integer>1102</integer>
      <integer>1386</integer>
      <integer>1426</integer>
      <integer>1484</integer>
      <integer>1524</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptIsFixedPitch</key>
    <true/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-482</integer>
      <integer>-442</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>234</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>316</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Fira Code</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>trademark</key>
    <string>Fira Mono is a trademark of The Mozilla Corporation.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>207</integer>
    <key>xHeight</key>
    <integer>1062</integer>
  </dict>
</plist>
